
extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="chart")
  p data.length 
  p hi
  script(src="/javascripts/d3.js")
  script(src='/javascripts/queue.js')
  script(src='/javascripts/dataVisual.js')